<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7fcb000871.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <nav>
                <form>
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </nav>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburger-buttom">
            <i  class="fas fa-bars" ></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar oculto">
                <li><a href="/ofertas">Ofertas </a></li>
                <li><a href="#">Tiendas Oficiales </a></li>
                <li><a href="#">Vender </a></li>
                <li><a href="#">Ayuda </a></li>
            </ul>
            <ul class="right-navbar oculto">
                <li><a href="/register">Creá tu cuenta  </a><i class="fa-solid fa-id-card"></i></li>
                <li></i><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
                
            <div  >
          
            </div>
        </nav>
        <div class="contenedor-banner"><img src="/images/img-home-banner.jpg" alt=""></div>       
    </header>
    <main>
    <div class="contenedor-main-titulo"> <h3><strong> Basados en tu última visita</strong> </h3>
        </div>
    <section class="contenedor-ultima-visita">
       

        <article class="contenedor-article  ">
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <div class="contenedor-article-detalles">
                <button class="boton-camion"><i class="fa-solid fa-truck"></i></button>
                <p> $6.700 </p>
                <p class="letra-verde"> 40% Off</p>

                <p class="movil-querie"> Cafetera Moulinex </p>
            </div>
        </article>        

        <article class="contenedor-article">
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <div>
                <button class="boton-camion"><i class="fa-solid fa-truck"></i></button>
                <p> $230.000 </p>
                <p class="letra-verde"> 20% Off</p>
                <br>
                <p>MacBook Pro 2019 </p>
            </div>
        </article>

        <article class="contenedor-article">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <div> 
                <button class="boton-camion"><i class="fa-solid fa-truck"></i></button>               
                <p> $70.500</p>
                <p class="letra-verde"> 10% Off</p>
                <br>
                <p > Samsung Galaxy S10 </p>
            </div>
        </article>

        <article class="contenedor-article">
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <div>
                <button class="boton-camion"><i class="fa-solid fa-truck"></i></button>
                <p> $23.200 </p>
                <p class="letra-verde"> 5% Off</p>
                <br>
                <p> SmartTv Samsung 43" </p>
            </div>
        </article>

    </section>

    <section class="section-ofertas">
        <h3> <strong>Ofertas</strong> </h3>
        <article class="contenedor-article">
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <p> $6.700 </p>
        <p> 40% Off</p>
        <p><strong> Cafetera Moulinex</strong> </p>
        <br>
    </article>

        <article class="contenedor-article">
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <p> $230.000 </p>
        <p> 20% Off</p>
        <p><strong> MacBook Pro 2019</strong> </p>
        <br>
    </article>

        <article class="contenedor-article">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        <p> $70.500</p>
        <p> 10% Off</p>
        <p><strong> Samsung Galaxy S10</strong> </p>
        <br>
    </article>

        <article class="contenedor-article">
        <img src="/images/img-tv-samsung-smart.jpg" alt="">
        <p> $23.200 </p>
        <p> 5% Off</p>
        <p><strong> SmartTv Samsung 43"</strong> </p>
        <br>
        <br>
    </article>
    </section>
</main>
    <footer>

        <div class="iconoFooter"><i class="fa-solid fa-credit-card"></i></div>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <div class="iconoFooter"><i class="fa-solid fa-gift"></i></i></i></div>
        <p><strong>Envío gratis desde $ 2.500</strong></p>
        
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <div class="iconoFooter"><i class="fa-solid fa-user-shield"></i></i></i></div>    
        <p><strong>Seguridad, de principio a fin</strong></p>
       
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <br>

        <p class="parrafoFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        <br>
    </footer>
</body>

</html>