<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7fcb000871.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/style-login.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <nav>
                <form>
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </nav>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburger-buttom">
            <i  class="fas fa-bars" ></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar oculto">
                <li><a href="/ofertas">Ofertas </a></li>
                <li><a href="#">Tiendas Oficiales </a></li>
                <li><a href="#">Vender </a></li>
                <li><a href="#">Ayuda </a></li>
            </ul>
            <ul class="right-navbar oculto">
                <li><a href="/register">Creá tu cuenta  </a><i class="fa-solid fa-id-card"></i></li>
                <li></i><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
                
            <div  >
          
            </div>
        </nav>
                
    </header>
    <main>
        <section >
            <form  class="contenedor-login" >
                <div >
                    <label for="#" class="block">Nombre de usuari@
                        <input type="text" name="usuario" required>
                    <label for="" class="block">Contraseña
                        <input type="password" name="contraseña" required>
                    </label>
                    
                </div>
                <a href="/"><button type="button" class="formulario-boton">Enviar</button>
                </a>
            </form>
    </section>
    </main>
</body>


</html>