 *{ 
    box-sizing: border-box;
}

body{
    font-family:"Roboto";
}
.main-header{
    background-color: #eac926;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.logo{
    width:25%;
}
.copy-header{
    font-weight: 400;
    text-align: center;
}
.main-navbar{
    display: none;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: #222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}


.hamburger-buttom{
    display: block;
    max-width: 50p;
    padding: 9px;
    text-align: center;
    margin: auto;
    background-color:#1259c3;;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    height: 45px;
    width: 45px;
   
} 
.oculto{display:none ;}

main{

    background-color: lightgray;
    text-align: center;
}  
.contenedor-banner{
    width: 100%;
    margin: 5%;
}
.contenedor-banner img{
    width: 100%;
    margin: auto;

}
.contenedor-main-titulo{
    margin-top: 170px;
}
.contenedor-ultima-visita{
    
    width: 90%;
  
    border: solid 2px red;
    margin: auto;
}
.contenedor-article img{
    width: 90%;
    text-align: center;
    margin: auto;

 
}
.contenedor-article {
    width: 90%;
    padding: 0%;
    display: flex;
    flex-direction: column;

    margin-bottom: 10%;
    background-color: white;
    margin:auto ;
    position: relative;

}

.contenedor-article-detalles{
    width: 100%;
    border-top: solid 3px gray;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
}

.letra-verde {
    color: green;
}
.boton-camion{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
}   



footer p {
    
    text-align: center;
    font-size: 10 px;
    line-height: 18 px;
}
.iconoFooter {
    margin-left: 45%;
    font-size: 2em;
    color:#1259c3;
}
.parrafoFooter{
    text-align: left; 
    font-size: 10 px;
    line-height: 18 px;
}



@media(min-width: 360px){ 
    .oculto{display: block;}
    body {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}}
@media(min-width: 769px){
    .main-header{
        position: relative;
    }
    .main-header-top-bar{
        align-items: center;
    
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px ;
        text-align: right;
        margin: 0;
    }
    .hamburger-buttom{
        display: none;
    }
    .main-navbar{
        display: flex;

        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .contenedor-ultima-visita{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }
}
@media (min-width:1200px){
    .main-header-top-bar, .main-navbar{
    max-width: 1200px;
    margin: auto;
}
    .main-navbar{
        margin-top: 50px;
    }
}